.showcase {
    height: 100%;
    background: blue;
    /* For browsers that do not support gradients */
    background: linear-gradient(-45deg, blue, green, black);
    background: -webkit-linear-gradient(-45deg, blue, green, black);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-45deg, blue, green, black);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-45deg, blue, green, black);
}

.btn {
    padding: 10px;
}