html,
body {
    height: 100vh;
}

.showcase {
    height: 100%;
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 25px;
    background: blue;
    /* For browsers that do not support gradients */
}

.showcase h2 {
    padding-top: 40px;
    padding-bottom: 15px;
}

.showcase p {
    font-size: 1.25em;
}

.btn {
    padding: 10px;
}

#author {
    height: 25vh;
    padding-top: 40px;
}

.bottom {
    padding: 0;
    margin: 0;
}

.bottom p {
    font-family: 'VT323', monospace;
    font-size: 1.66em;
}


/* Classes for the gradient backgrounds */


/* Provided by https://uigradients.com */

.bg1 {
    /* Summer */
    background: #22c1c3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #22c1c3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -o-linear-gradient(to right, #fdbb2d, #22c1c3);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to right, #fdbb2d, #22c1c3);
}

.bg2 {
    background: #667db6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -o-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}

.bg3 {
    /* Shahabi */
    background: #a80077;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #66ff00, #a80077);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #66ff00, #a80077);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -o-linear-gradient(to right, #66ff00, #a80077);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to right, #66ff00, #a80077);
}

.bg4 {
    /* CanYouFeelTheLoveTonight */
    background: #4568DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -o-linear-gradient(to right, #B06AB3, #4568DC);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to right, #B06AB3, #4568DC);
}