html,
body {
    height: 100vh;
}

.showcase {
    height: 100%;
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 25px;
    background: blue;
    /* For browsers that do not support gradients */
    background: linear-gradient(-45deg, blue, green, black);
    background: -webkit-linear-gradient(-45deg, blue, green, black);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-45deg, blue, green, black);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-45deg, blue, green, black);
}

.showcase h2 {
    padding-top: 40px;
    padding-bottom: 25px;
}

.btn {
    padding: 10px;
}

p #author {
    padding-bottom: 800px;
    padding-top: 40px;
}

.bottom p {
    font-family: 'VT323', monospace;
    font-size: 1.25em;
}