/* Styling by ID attribute */
#quote-box {
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* temp assignment */
  height: 50vh;
  align-items: center;
  justify-content: center;

}

/* Styling by class */
.top-section {
  background: #f4f4f4;
  width: 50%;
  height: 50%;
  text-align: center;
  margin-top: 100px;
}

.bottom-section {
  background: black;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bottom-section button {
  margin-right: 25px;
}