/* Global Styling for page */
a:hover {
  cursor: pointer;
}


/* Styling by ID attribute */
#quote-box {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

}

/* Styling by class */
.top-section {
  background: #f4f4f4;
  width: 50%;
  height: 25%;
  text-align: center;
}

.top-section p {
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.bottom-section {
  background: black;
  width: 50%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bottom-section a {
  margin-right: 25px;
  font-size: 16px;
  background: #ffffff;
  color: #000000;
  padding: 5px;
  cursor: pointer;
}

/* Media Queries for smaller screens */
@media (max-width: 750px) {
  .top-section {
    width: 75%;
    height: 30%;
  }
  .bottom-section {
    width: 75%;
    height: 30%;
  }
}

@media (max-width: 500px) {
  .top-section {
    width: 90%;
    height: 30%;
  }
  .bottom-section {
    width: 90%;
    height: 30%;
  }
  p {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 800px) and (orientation: landscape) {
  .top-section {
    width: 90%;
    height: 45%;
  }
  .bottom-section {
    width: 90%;
    height: 40%;
  }
  p {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Classes for the gradient backgrounds */
/* Provided by https://uigradients.com */

.bg1 {
  /* Summer */
  background: #22c1c3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #22c1c3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -o-linear-gradient(to right, #fdbb2d, #22c1c3);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to right, #fdbb2d, #22c1c3);
}

.bg2 {
  background: #667db6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -o-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}

.bg3 {
  /* Shahabi */
  background: #a80077;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #66ff00, #a80077);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #66ff00, #a80077);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -o-linear-gradient(to right, #66ff00, #a80077);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to right, #66ff00, #a80077);
}

.bg4 {
  /* CanYouFeelTheLoveTonight */
  background: #4568DC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B06AB3, #4568DC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -o-linear-gradient(to right, #B06AB3, #4568DC);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to right, #B06AB3, #4568DC);
}